@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive&family=Moo+Lah+Lah&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@400;500;600;700;800&display=swap');

@import "tailwindcss";

@layer components {
    .font-edu-custom {
        font-family: "Edu NSW ACT Cursive", cursive;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
    }

    .font-dm-serif-text-regular {
        font-family: "DM Serif Text", serif;
        font-weight: 400;
        font-style: normal;
    }

    .font-dm-serif-text-regular-italic {
        font-family: "DM Serif Text", serif;
        font-weight: 400;
        font-style: italic;
    }

}